[submodule "third_party/kmeans_pytorch"]
	path = third_party/kmeans_pytorch
	url = https://github.com/subhadarship/kmeans_pytorch.git
[submodule "third_party/segment-anything"]
	path = third_party/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "submodules/torch_kdtree"]
	path = submodules/torch_kdtree
	url = git@github.com:moonite1209/torch_kdtree.git
